# Chap6-1:DataFrame loc,iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為2維資料
### 橫的為列(索引index)，直的為屬(columns)

In [5]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.rand(6,6),index=list('abcdef'),
                  columns=list('ABCDEF'))
frame

          A         B         C         D         E         F
a  0.174483  0.217814  0.282507  0.499205  0.430302  0.507091
b  0.961492  0.223123  0.369903  0.456442  0.841605  0.590829
c  0.194537  0.157198  0.085528  0.376903  0.117500  0.625432
d  0.963185  0.887645  0.781226  0.239313  0.961887  0.013127
e  0.912043  0.635672  0.879109  0.048945  0.872705  0.005078
f  0.856508  0.047604  0.514971  0.258948  0.475656  0.933642

# loc用欄位來找出DataFrame的資料

# iloc用索引來找出DataFrame的資料

In [6]:
frame.describe()

              A         B         C         D         E         F
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.677041  0.361509  0.485541  0.313293  0.616609  0.445866
std    0.383562  0.326209  0.302588  0.165775  0.328363  0.367829
min    0.174483  0.047604  0.085528  0.048945  0.117500  0.005078
25%    0.360030  0.172352  0.304356  0.244222  0.441641  0.136618
50%    0.884275  0.220468  0.442437  0.317926  0.658630  0.548960
75%    0.949130  0.532534  0.714662  0.436557  0.864930  0.616781
max    0.963185  0.887645  0.879109  0.499205  0.961887  0.933642

In [8]:
frame.loc['a','A']

0.1744827019147157

In [10]:
# 取前兩列的對應資料
frame.loc['a':'b',:]

          A         B         C         D         E         F
a  0.174483  0.217814  0.282507  0.499205  0.430302  0.507091
b  0.961492  0.223123  0.369903  0.456442  0.841605  0.590829

In [12]:
# 取前兩欄的對應資料
frame.loc[:,'A':'B']

          A         B
a  0.174483  0.217814
b  0.961492  0.223123
c  0.194537  0.157198
d  0.963185  0.887645
e  0.912043  0.635672
f  0.856508  0.047604

In [14]:
# 取特殊列，欄的資料
print(frame.loc[['a','c'],:])
print('------------------------------------')
print(frame.loc[:,['A','C']])
print('------------------------------------')
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D         E         F
a  0.174483  0.217814  0.282507  0.499205  0.430302  0.507091
c  0.194537  0.157198  0.085528  0.376903  0.117500  0.625432
------------------------------------
          A         C
a  0.174483  0.282507
b  0.961492  0.369903
c  0.194537  0.085528
d  0.963185  0.781226
e  0.912043  0.879109
f  0.856508  0.514971
------------------------------------
          A         D
a  0.174483  0.499205
d  0.963185  0.239313

### iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [16]:
frame.iloc[0,0]

0.1744827019147157

In [17]:
# 取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D         E         F
a  0.174483  0.217814  0.282507  0.499205  0.430302  0.507091
b  0.961492  0.223123  0.369903  0.456442  0.841605  0.590829

In [18]:
# 取前兩列、兩欄之資料
frame.iloc[0:2,0:2]

          A         B
a  0.174483  0.217814
b  0.961492  0.223123

In [21]:
# 取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print('------------------------------------')
print(frame.iloc[:,[0,2]])
print('------------------------------------')
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D         E         F
a  0.174483  0.217814  0.282507  0.499205  0.430302  0.507091
c  0.194537  0.157198  0.085528  0.376903  0.117500  0.625432
------------------------------------
          A         C
a  0.174483  0.282507
b  0.961492  0.369903
c  0.194537  0.085528
d  0.963185  0.781226
e  0.912043  0.879109
f  0.856508  0.514971
------------------------------------
          A         D
a  0.174483  0.499205
d  0.963185  0.239313